body{
		font-family:"Baloo Da 2";
		margin:0px;
		padding:0px;
		background-image:url(weblogo.png);
		background-size:cover;
		}
header{
		background-image:url(weblogo.png);
		background-size:contain;
		background-position:center;
		color:#0b1087;
		height:58vmax;
		}
.title00, title11{
		font-size:45px;
		font-weight:bold;
		color:#5a09cf;
		}
.title11{
		positio:relative;
		width:60%;
		transform:translateY(30px);
		margin-left:2.5pc;
		}
.title22{
		width:60%;
		margin:-2pc auto auto 2.5pc;
		transform: translateY(30px);
		}
.about{
		color:white;
		transform: translateY(30px);
		width:65%;
		background-color:#5a09cf;
		margin:0pc auto auto 0pc;
		padding:10px 7px 10px 30px;
		border-radius:0px 15px 15px 0px;
		}
nav{
		font-weight:bold;
		background-color:#f4f4f4;
		}
.top_nav00{
		paddin:10px;
		width:100%;
		display:flex;
		justify-content:center;
	 margin:auto;
		}
.top11{
		text-align:right;
		padding:8px;
		}
.top22{
		color:#5a09cf;	
		text-align:left;
		padding:8px;
		}
.bottom_nav00 > div{
		width:20%;
		padding:5px;
		}
.bottom_nav00{
		border:2px solid #dbdbdb;
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		}
.myform{
		padding:5px 0px 10px 0px;
		margin:3pc auto;
		width:92%;
		background-color:#f4f4f4;
		border-radius:8px;
		}
.join{
		font-size:35px;
		width:90%;
  	margin:1pc auto;
  	padding:10px 10px 10px 22px;
		}
.myinputs{
		margin:1.4pc auto;
		}
.one, .two, .three, .four, .five, .six{
		margin:1.2pc auto;
		width:88%;
		}
input[type="text"], input[type="email"], input[type="tel"], input[type="password"]{
		width:90%;
		padding:10px;
		font-size:15px;
		outline:none;
		border-radius:8px;
                border:2px double #dbdbdb;
		}
.signup11{
		outline:none;
		font-size:15px;
		display:block;
		text-align:center;
		width:50%;
		padding:15px;
		margin:0pc auto auto auto;
		background-color:#aa00ff;
		border-radius:40px;
		}
.already{
		text-align:center;
		margin:auto;
		width:80%;
		padding:10px;
		font-weight:bold;
		}
.tracks{
		margin:4.5pc auto;
		width:90%;
		margin-bottom:4pc;
		padding:5px;
		}
.mytracks{
		font-size:25px;
		width:90%;
		margin:auto;
		text-align:center;
		}
.one00, .two00, .three00, .four00, .five00, .six00{
		text-align:center;
		width:90%;
		font-size:17px;
		padding:13px;
		margin:.5pc auto auto auto;
		border-radius:15px;
		}
.one00{
		background-color:#23a0d1;
		color:white;
		}
.two00{
		background-color:#925ed8;
		color:white;
		}
.three00{
		background-color:#114155;
		color:white;
		}
.four00{
		background-color:#a2d977;
		
		}
.five00{
		background-color:#db7d38;
		}
.six00{
		background-color:#deac6c;
		}
.a00{
				color:#23a0d1;
				}
.b00{
				color:#925ed8;
				}
.c00{
				color:#114155;
				}
.d00{
				color:#a2d977;
				}
.e00{
				color:#db7d38;
				}
.f00{
				color:#deac6c;
				}


/* Media Query Begins */

@media(min-width:768px){
header{
				background-image:none;
				height:30vh;
				width:30%;
				}				
nav{
				display:flex;
				position: absolute;
				top:0;
				width:100%;
				flex-wrap:nowrap;
				}				
.title00, .title11{
				margin-top:4pc;
				}				
.top_nav00{
				width:25%;
				margin-left:0pc;
				border:none;
				}				
.bottom_nav00{
				border:none;
				flex-wrap:nowrap;
				width:50%;
			 justify-content:flex-end;
				}				
.about{
				width:75%;
				}			
.flex_body{
				display:flex;
				flex-wrap:nowrap;
				}	
.whole_form{
				margin-top:4pc;
				width:50%;
				}				
.tracks{
				width:18%;
				displa:absolute;
				transfor:translateX(20px)
				}								
.mytracks{
				text-align:left;
				}		
		.one00, .two00, .three00, .four00, .five00, .six00{
				text-align:left;		
				border-radius:15px 0px 0px 15px;
			}
				
	}

